html {
	background: #FDC830;  /* fallback for old browsers */
	background: linear-gradient(to bottom, #470000, #FDC830 30%, #FFF9E7);
}

body {
	position: relative;
	background: white;

	max-width: 800px;
	margin: 0 auto;
	padding: 0 0 1.6em 0;
	
	font-size: 16px;
	line-height: 1.6em;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	line-height: 1.6em;

	font-family: Helvetica, Arial, sans-serif;
	
	font-weight: normal;
	
	padding: 0 60px;
}


h1 {
	position: relative;
	font-size: 1.1em;
	line-height: 1.4545em;
	text-align: left;
	
	font-weight: bold;
	color: #9d5e16;
	
	padding: 1.4545em 60px 1.4545em;
	margin: 0;
	background: #ccc;
}


p + h1, ul + h1, ol + h1 {
	margin-top: 1.4545em;
}

h2 {
	position: relative;
	font-size: 1em;
	line-height: 1.6em;
	/* text-transform: uppercase; */
	
	background: #ddd;
	padding: 0.8em 60px;
	margin: 1.6em 0 0.8em 0;
	
	font-weight: bold;
}

h2::before, h2::after {
	content: "•••";
	
	position: absolute;
	width: 1.4em;
	height: 0.8em;
		
	font-size: 1.4em;
	line-height: 1.0em;
	text-indent: 0.15em;
	color: #ccc;
	
	border: solid 1px #ccc;
	border-radius: 0.4em;
	background: white;
}

h2::before {	
	left: 0.6em;
	top:  0.7em;
}

h2::after {	
	right: 0.6em;
	top:   0.7em;
}

h1 + h2 {
	margin-top: 0;
}

p {
	padding: 0 60px;
	margin: 0.8em 0 ;
}

aside {
	font-size: 0.8em;
	line-height: 2em; 
	text-align: right;
	
	padding: 0 60px;
	margin: -1.8em 0 0;
}

ul, ol {

	padding: 0 60px;
	display: block;
	margin: 0.8em 0;
	padding: 0;
	
	list-style: none;
}

ol { 
	counter-reset: li;
}

ul li, ol li {
	display: block;
	margin: 0 60px 0;
	padding: 0 0 0 1.6em;
	
	list-style: none;
}

ul li::before {	
	content: "•"; 
	color: #9d5e16;
  	display: inline-block; 
  	width: 1.6em;
  	margin: 0 0 0 -1.6em;
  	text-align: center;
}

li {
	counter-increment: li;
}

ol li::before {	
	content: counter(li) "."; 
	color: #9d5e16;
	display: inline-block;	
	width: 1.6em;
	margin: 0 0 0 -1.6em;
	text-indent: 0em;
}

footer {	
	font-size: 0.8em;
	text-align: center;
	
	margin-top: 3.2em;
}

a {

	font-weight: bold;
	
	text-decoration: none;
	color: #9d5e16;
}

a:hover {
	border-bottom: dotted 1px #9d5e16;
}

a.action-link {
	z-index: 1000;

	position: absolute;
	top: 2em;
	right: -1em;

	background-color: white;
	display: block;
	
	width: 5em;
	height: 5em;
	
	color: white;
	
	margin-right: -1em;
	padding: 1.2em 1em 0.8em;
	
	background: #1b81b9;
	
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	transform: rotate(20deg);
	
	border-radius: 50%;
	
	text-align: center;
	line-height: 1.5em;

	padding: 1em 0 -1em 0;
	
	border: none;
	box-shadow: 0.2em 0.2em 0em 0.05em hsl(0, 0%, 0%, 0.1) ;
}

pre {
	font-family: Consolas, monospace;
	
	white-space: pre-wrap;
	
	font-size: 1em;
	line-height: 1.6em;
	margin: 1.6em 0;
}

pre + pre {
	margin-top: 0;
}

.email-form, .email-example {

	border: solid 1px #ddd;
	box-shadow: 0.2em 0.2em 0.0em 0.05em hsl(0, 0%, 0%, 0.1) ;
	margin: 0px 30px calc(1.6em - 2px);
	padding: 0em 30px 0em 30px;
	
	white-space: pre-wrap;
}

.email-form form {
	display: flex;
	flex-direction:row;

	justify-content: flex-end;
	flex-wrap: wrap;
	position: relative;
}

.email-form label {
	align-self: flex-start;
}

.email-form input {
	margin: 0 35% 0 1.6em;
}

.email-form hr {
	width: 100%;
	border: none;
}

.explanation {
	font-size: 0.8em;
	margin: 0 0 0.8em 0;
	
	flex: 0 0 100%;
	
}

button {
	padding: 0.8em;
	position: absolute;
	
	bottom: 1.6em;
	right:1.6em;
}

.email-link
