html {
	background: #141E30;  /* fallback for old browsers */
	background: linear-gradient(to bottom, #141E30, #243B55 35%, #243B5533); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
	position: relative;
	background: white;

	max-width: 800px;
	margin: 0 auto;
	padding: 0 0 1.6em 0;
	
	font-size: 16px;
	line-height: 1.6em;
	font-family: Helvetica, Arial, sans-serif;
	
	box-shadow: 0em -10em 7em 7em hsl(256, 100%, 90%, 0.3) ;
}

h1, h2, h3, h4, h5 {
	line-height: 1.6em;

	font-family: Helvetica, Arial, sans-serif;
	
	font-weight: normal;
	
	padding: 0 60px;
}


h1 {
	position: relative;
	font-size: 1.1em;
	line-height: 1.4545em;
	text-align: left;
	
	font-weight: bold;
	color: white;
	
	padding: 1.4545em 60px 1.4545em;
	margin: 0;
	background: #141E30;
}


p + h1, ul + h1, ol + h1 {
	margin-top: 1.4545em;
}

h2 {
	position: relative;
	font-size: 1em;
	line-height: 1.6em;
	/* text-transform: uppercase; */
	
	background: #ddd;
	padding: 0.8em 60px;
	margin: 1.6em 0 0.8em 0;
	
	font-weight: bold;
}

h2::before, h2::after {
	content: "•••";
	
	position: absolute;
	width: 1.4em;
	height: 0.8em;
		
	font-size: 1.4em;
	line-height: 1.0em;
	text-indent: 0.15em;
	color: #ccc;
	
	border: solid 1px #ccc;
	border-radius: 0.4em;
	background: white;
}

h2::before {	
	left: 0.6em;
	top:  0.7em;
}

h2::after {	
	right: 0.6em;
	top:   0.7em;
}

h1 + h2 {
	margin-top: 0;
}

p {
	padding: 0 60px;
	margin: 0.8em 0 ;
}

aside {
	font-size: 0.8em;
	line-height: 2em; 
	text-align: right;
	
	padding: 0 60px;
	margin: -1.8em 0 0;
}

ul, ol {

	padding: 0 60px;
	display: block;
	margin: 0.8em 0;
	padding: 0;
	
	list-style: none;
}

ol { 
	counter-reset: li;
}

ul li, ol li {
	display: block;
	margin: 0 60px 0;
	padding: 0 0 0 1.6em;
	
	list-style: none;
}

ul li::before {	
	content: "•"; 
	color: #9d5e16;
  	display: inline-block; 
  	width: 1.6em;
  	margin: 0 0 0 -1.6em;
  	text-align: center;
}

li {
	counter-increment: li;
}

ol li::before {	
	content: counter(li) "."; 
	color: #9d5e16;
	display: inline-block;	
	width: 1.6em;
	margin: 0 0 0 -1.6em;
	text-indent: 0em;
}

a {

	font-weight: bold;
	
	text-decoration: none;
	color:#7b3f02;
}

a:hover {
	border-bottom: dotted 1px #7b3f02;
}

a.action-link {
	z-index: 1000;

	position: absolute;
	top: 2em;
	right: -1em;

	background-color: white;
	display: block;
	
	width: 5em;
	height: 5em;
	
	color: white;
	
	margin-right: -1em;
	padding: 1.2em 1em 0.8em;
	
	background: #30465e;
	
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	transform: rotate(20deg);
	
	border-radius: 50%;
	
	text-align: center;
	line-height: 1.5em;

	padding: 1em 0 -1em 0;
	
	border: none;
	box-shadow: 0.2em 0.2em 0em 0.05em hsl(0, 0%, 0%, 0.1) ;
}

a.action-link:hover {
	border: none;
}


pre {
	font-family: Consolas, monospace;
	
	white-space: pre-wrap;
	
	font-size: 1em;
	line-height: 1.6em;
	margin: 1.6em 0;
}

.email-example pre {
	margin: 0;
}

.email-form, .email-example {

	border: solid 1px #ddd;
	box-shadow: 0.2em 0.2em 0.0em 0.05em hsl(0, 0%, 0%, 0.1) ;
	margin: 0px 30px calc(1.6em - 2px);
	padding: 0.8em 30px 0.8em 30px;
	
	white-space: pre-wrap;
	
	position: relative;
}

.email-form form {
	display: flex;
	flex-direction:row;

	justify-content: flex-end;
	flex-wrap: wrap;
}

.email-form label {
	align-self: flex-start;
}

.email-form input {
	margin: 0 25% 0 1.6em;
}

.email-form hr {
	width: 100%;
	border: none;
}

.explanation {
	font-size: 0.8em;
	margin: 0 0 0.8em 0;
	padding: 0;
	
	flex: 0 0 100%;
	text-align: left;
}

button {
	padding: 0.8em;
	position: absolute;
	
	bottom: 1.6em;
	right:1.6em;
}

.email-link {

	z-index: 1000;

	position: absolute;
	top: 2em;
	right: -1.5em;

	background-color: white;
	display: block;
	
	width: 5em;
	height: 5em;
	
	color: white;
	
	margin-right: -1em;
	padding: 1.2em 1em 0.8em;
	
	background: #30465e;
	
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	transform: rotate(20deg);
	
	border-radius: 50%;
	
	text-align: center;
	line-height: 1.5em;

	padding: 1em 0 -1em 0;
	
	border: none;
	box-shadow: 0.2em 0.2em 0em 0.05em hsl(0, 0%, 0%, 0.1) ;
}

.email-link:hover {
	border: none;
}

pre.body {

	margin-bottom: -3.2em;
}

.twitter {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAL0SURBVGhD7dlpqA1hHMfxY1f2pSyRspREpGxlLSElpCReuLZSEuGFF5YkCaW8kRckhUS8kCzlBRLlBZItkmRP2bLv31/nnoxz/+fOnGeemXPU/OrTnTvN85+595x55nmeyWXJkiVLmmmBNvnN/ystsRRn8QG/a33ERaxAR9SXBuie36ybVmiU30ws8/EShYsv5Q30BzVEMLq+2biJsdphZRN25je9RxewC9ZF1+cI9OlMhdo/gfZfgBmd6AV00Brt8JztCF5gHPoK9oGZIQgevBn6HvrINARrx/EF46Honz8ov/k3C1DcaC+aIE4a4w6Ka7t4hFmYjh14hgn4J6tgNb6CXnCNTmTVdfG56PfVqJMlCB4U9A4LUdyDRIk6D6tmXNtgZjKsBkGXMRzl5DysWq5+YR1KpgN+wGocpEInMA5Rcg9WHVfqhkNzElbjUq5D39PeKJVrsNq6UucRmhGI8qlYbmEPFkFdeRfonjoO63hXke9TPT+sAi6+4WvRvjj0IAxN+9qfTXEKVqFKe47QrMcNLIMGY0dhFaskjYxDo++21bia7ENo+sFqXE2WI1JuwypQLYYiUubBKlANNEyK9AxR1Eefg1Wo0g6irHTDA1jFKmkGyk4PXIVVsBJeQc83pzSDni1aBLCKp2kjnKIpbl+0Q09sRXDZJk2foHGbcy7BKpw2/RNjxeeCgavXKIwBY+UYrBOkpQZeovVYTZ6skyRNkzyvaYvTsE6WlMfoBO9RL6aP+T6sE/ukidgwJBoNYUZhLQ7A5+xPvsPpCe4aLVP6XlTQWsFMpJLO2ALNxa2LcfUeU5BodH8MhlZItIBsXUgcDzEAsaMuVsMQDUe6YiAmYTEOIcpLGVe70Rpeoht4DrTSbZ0sCXrbNBGJRKPdlXgK6+Q+3MVcRF5kixO9PNGC9mH4uCd0I+/HGPh6cVR2dP/oftmAM3gL62ILfkKzSw0vNIcYjcjz7LSj0Wh/aJ1Yr8BGQh2EOozmyJIlS9Ull/sDJKNw3QwWZlkAAAAASUVORK5CYII=);
	text-indent: -1000em;

    background-size: contain;
	background: repeat: no-repeat;
	
	position: relative;
	top: 0.5em;
}

footer {	
	font-size: 0.8em;
	text-align: center;
	
	margin-top: 3.2em;
}

footer ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0
}

footer li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0
}

footer ul li::before {
	display: none;
}

footer ul li + li::before {
	content: "•"; 
	color: #9d5e16;
  	display: inline-block; 
  	width: 1.6em;
  	margin: 0 0 0 0em;
  	text-align: center;
}

